/*resete básico a todos los elementos*/
* {
  box-sizing: border-box; /* cambia los tamaños del contenido, padding y borde*/
  margin: 0;
  padding: 0; /*se quitan los espacios blancos y márgenes*/
}

/* se bloquea el scroll y el fondo negro cuando React renderiza sin romper el layout*/
html, body, #root {
  height: 100%;
  width: 100%;
  background: black;
  overflow: hidden; /*bloquea scroll del documento*/
}

/*estilo base */
body {
  color: #ffe81f;
  font-family: 'Arial Black', Arial, sans-serif;
}